.green {
    color: white;
    background-color: green;
    padding: 6px 5px;
    text-align: left;
    width: 400px;
    border-radius: 5px;
    border-color: black;
    border-style: solid;
    margin-top: 1px;
}

.white {
    color: black;
    background-color: #e4f2f8;
    padding: 6px 5px;
    text-align: left;
    width: 400px;
    border-radius: 5px;
    border-color: black;
    border-style: solid;
    margin-top: 1px;
}
